.wundery-cookie-banner {
  background: black;
  color: white;
  font-size: 12px;
  padding: 6px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
  display: flex;
  align-items: center;
  z-index: 10000;

  .wundery-cookie-banner-info {
    margin-right: 3px;
  }

  .wundery-cookie-banner-link {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    margin-right: 10px;
  }

  .wundery-cookie-banner-button {
    background: white;
    align-items: center;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    flex-wrap: wrap;
    outline: 0;
    color: black;
  }

  &.wundery-cookie-banner-top, &.wundery-cookie-banner-bottom {
    position: fixed;
    right: 0;
    left: 0;
  }

  &.wundery-cookie-banner-top {
    top: 0;
  }

  &.wundery-cookie-banner-bottom {
    bottom: 0;
  }
}
